.entry-view-outer-container {
    width: 100%;   
    min-height: 35vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
    position: relative;
    overflow: hidden;
}
.landing-video {
    width: 100%;
    height: auto;
    opacity: 1;
    filter: brightness(100%);
}   
.entry-view-inner-container {
    position: absolute;
    top: 0;
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.line { 
    font-size: max(3vw, .6em);
    color: white;
    white-space: nowrap;
    font-family: 'Tahoma-bold', serif;
    text-shadow: 2px 2px 10px #000000;
}
.entry-view-description {
    font-size: max(1.5vw, 0.4em);   
    color: rgb(219, 219, 219);
    text-align: start;
    font-family: 'Rockwell', serif;
    text-shadow: 1px 1px 2px #030303;
    height: max-content;
}
@media (min-width: 601px) and (max-width: 650px) {

    .line { 
        font-size: max(3vw, .6em);
        
    }
    .entry-view-description {
        font-size: max(1.5vw, 0.4em);   
    }
        
    
}
@media (max-width: 600px) {
    .entry-view-inner-container {
        justify-content: center;
    }
    .line { 
        font-size: max(3.5vw, .6em);
        
    }
    .entry-view-description {
        font-size: max(2.5vw, 0.4em);   
    }
}