.modal-container {
    background-color:rgba(0,0,0, .75);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 210;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* The image-loader is just stolen from preloader, all but the positioning */
.image-loader {
    animation: spin 1s infinite linear;
    border: solid 1vmin transparent;
    border-radius:50%;
    border-right-color:rgb(255, 139, 6);
    border-top-color:rgb(230, 170, 59);
    box-sizing: border-box;
    height:10vmin;
    left:calc(50% - 5vmin);
    position:fixed;
    top:calc(50% - 5vmin);
    width:10vmin;
    z-index:1;
}
.image-loader:before {
      animation:spin 2s infinite linear;
      border:solid 1vmin transparent;
      border-radius:50%;
      border-right-color:rgb(255, 139, 6);
      border-top-color:rgb(230, 170, 59);
      box-sizing:border-box;
      content:"";
      height:8vmin;
      left:0;
      position:absolute;
      top:0;
      width:8vmin;
}
.image-loader:after {
      animation:spin 3s infinite linear;
      border:solid 1vmin transparent;
      border-radius:50%;
      border-right-color:rgb(255, 139, 6);
      border-top-color:rgb(230, 170, 59);
      box-sizing:border-box;
      content:"";
      height:6vmin;
      left:1vmin;
      position:absolute;
      top:1vmin;
      width:6vmin;
} 
.modal {
    height: 100%;
    width: 100%;
    outline: none;
}
.swiper-button-next,
.swiper-button-prev {
    color: white !important;
    position: absolute !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: rgb(255, 139, 6) !important;
}
.close-button {
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    z-index: 22;
    border: none;
    background-color: rgba(0,0,0,0);
}
.close-button:hover {
    color: rgb(255, 139, 6) !important;
}
.modal-swiper {
    height: 100%;
    width: 100%;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-gallery-image {
    max-height: 80%;
    max-width: 80%;
}
@keyframes spin {
    100% {
      transform:rotate(360deg);
    }
}
    

