.modal-container {
    background-color:rgba(0,0,0,.75);
    position: relative;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 21;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
}
.close-button {
    position: absolute;
    top: 5%;
    right: 5%;
    color: rgb(43, 105, 185);
    z-index: 22;
}
.close-button:hover {
    color: rgb(255, 255, 255);
}
.modal-swiper {
    pointer-events: all;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}
.modal-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-gallery-image {
    height: 100%;
    width: auto;
}
.swiper-pagination-bullet-active {
    background-color: #000 !important;
}

