.modal-container {
    background-color:rgba(0,0,0,.75);
    position: relative;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 21;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
}
.swiper-button-next,
.swiper-button-prev {
    color: white !important;
}

.close-button {
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    z-index: 22;
}
.close-button:hover {
    color: rgb(255, 255, 255);
}
.modal-swiper {
    pointer-events: all;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}
.modal-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.popup-gallery-image {
    width: auto;
    height: 90%;
    max-width: 100%;
}
@media (max-width: 450px) {
    .popup-gallery-image {
        height: auto;
        width: 100%;
    }
}
