.contacts-container {
    min-height: 80vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.persons-grid {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
}
.contact-header-container { 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;    
    align-items: center;
    position: relative;
}
.contact-header {
    height: 100%;
    font-size: max(3vw, 2.5em);
    font-family: 'Rockwell';
    color: #1D1D1D;
    display: flex;  
    justify-content: flex-start;
    align-items: center;
    font-variant: small-caps;
}
.contact-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 10%;
    color: #1d1d1d;
    background-color: #1D1D1D;
}
.under-550-spacer {
    height: 0;
}
@media (min-width: 1101px) {
    .persons-grid {
        min-height: 80vh;
    }
}
@media (min-width: 551px) and (max-width: 700px) {
    .persons-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .contact-header-container {
        align-items: center;
    }
    .contact-header::after {
        height: 2px;
    }
}
@media (max-width: 550px) {
    .persons-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .contact-header-container {
        align-items: center;
    }
    .contact-header {
        font-size: max(1.5em, 7vw);
    }
    .under-550-spacer {
        height: 20px;
    }
    .contact-header::after {
        height: 0px;
    }
}