.contacts-container {
    min-height: 80vh;
    margin-top: 200px;
    width: 90%;
    display: flex;      
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.persons-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
}
.contact-header-container { 
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: flex-start;    
    align-items: center;
}
.contact-header {
    height: 50%;
    width: 100%;
    font-size: max(3vw, 2.5em);
    font-family: 'Rockwell';
    color: #1D1D1D;
    display: flex;  
    justify-content: flex-start;
    align-items: center;
    font-variant: small-caps;
    position: relative;
}
.contact-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 10%;
    min-width: 25px;
    background-color: rgb(255, 139, 6);
}
.under-550-spacer {
    height: 0;
}
@media (min-width: 551px) and (max-width: 700px) {
    .persons-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .contact-header-container {
        align-items: center;
    }
}
@media (max-width: 550px) {
    .persons-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .contact-header-container {
        align-items: center;
    }
    .contact-header {
        font-size: max(2em, 7vw);
    }
    .under-550-spacer {
        height: 20px;
    }
}