.project-link {       
    position: absolute;
    height: 50px;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    font-size: max(0.8em, 1vw);
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    -webkit-transition: color .5s;
    -moz-transition:    color .5s;
    -ms-transition:     color .5s;
    -o-transition:      color .5s;
    transition: color .5;
}
.project-link:hover {
    color: rgb(255, 139, 6);
}
.project-link:hover {
    Transform: scale(1.05);
    transition: transform 500ms ease;
}
.icon-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-end {
    justify-content: flex-end;
}
.row-reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.next-icon {
    transform: scale(2);
}
@media (min-width: 801px) and (max-width: 1100px) {
    .project-link {
        width: 30%
    }
}
@media (max-width: 800px) {
    .project-link {
        width: 45%;
    }
}
@media (max-width: 500px) {
    .project-link {
        font-size: 0.6em;
    }
}