.text-outer-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-inner-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.website-link {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid rgb(255, 139, 6);
    font-size: 1.3em;
}
.text-desc-container {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgb(255, 139, 6);
}
.text-description { 
    display: flex;
    justify-content: flex-end;
    text-align: start;
    line-height: 150%;
    font-size: 1.1em;
}
.text-fact { 
    color: rgb(119, 84, 43);
    font-size: 1.1em;
    white-space: wrap;
}
.text-button-facts-container {
    width: 100%;
    height: 60%;
    padding-top: 10%;
    display: flex;  
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
}
.text-name-container {
    height: 10%;    
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 2.5em;
    font-family: 'Rockwell';
    color: black;
    position: relative;
}
.text-name-container::after {
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    width: 10%;
    background-color: rgb(255, 139, 6);

}
.text-website-link {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
}
.text-facts {
    width: 90%;
    height: 70%;
    line-height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
@media (min-width: 1801px) {
    .text-fact {
        font-size: max(1.6em, 1.5vw)
    }
    .text-description { 
        font-size: max(1.1em, 1.2vw);
    }
    .text-facts {
        line-height: 300%;
    }
    .text-website-link {
        font-size: max(1.2em, 1.2vw);
    }
}
@media (min-width: 1500px) and (max-width: 1800px) {
    .text-fact {
        font-size: max(1.3em, 1.5vw);
    }
    .text-description { 
        font-size: max(1em, 1.1vw);
    }
    .text-website-link {
        font-size: 1.2em;
    }
    .text-facts {
        line-height: 300%;
    }
}
@media (min-width: 1201px) and (max-width: 1499px) {
    .text-fact {
        font-size: max(1.1em, 1.3vw);
    }
    .text-description { 
        font-size: max(1em, 1.1vw);
    }
    .text-website-link {
        font-size: 1.2em;
    }
}
@media (min-width: 1001px) and (max-width: 1200px) {
    .text-fact {
        font-size: 1em;
    }
    .text-description { 
        font-size: 1em;
    }
}

@media (max-width: 1000px) {
    .text-outer-container {
        width: 100%;
    }
    .text-name-container::after {
        height: 0;
    }
    .text-name-container {
        font-size: min(2.5em, 6vw);
    }
    .text-fact {
        font-size: min(1.5em, 2.5vw);
        line-height: 200%;
    }
}

@media (max-width: 450px) {
    .text-description {
        font-size: 0.9em;
    }
    .text-fact {
        font-size: min(1.5em, 3.2vw);
        white-space: normal;
        line-height: 200%;
    }
    .text-name-container {
        font-size: 1.5em;
    }
    .website-link {
        font-size: 1em;
    }
}