.popup-gallery-big-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
} 

.gallery-button-left {
    position: absolute;
    height: 50%;
    width: 5%;
    transform: rotate(180deg);
    background-color: rgba(0,0,0, .20);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    pointer-events: all;

}
.left-btn-out {
    left: 0;
}
.left-btn-in {
    left: 0;
}
.popup-fs-button {
    background-color: rgba(0,0,0, .20);
    border: none;
    position: absolute;
    top: 0;
    height: 10%;
    width: 10%;
}
.popup-fs-button-normal {
    right: 0%;
}
.gallery-button-right {
    position: absolute; 
    height: 50%;
    width: 5%;
    background-color: rgba(0,0,0, .20);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    pointer-events: all;
}
.gallery-button-right:hover {
    background-color: rgba(0,0,0, .40);
}
.gallery-button-left:hover {
    background-color: rgba(0,0,0, .40);
}
.right-btn-out {
    right: 0;
}
.right-btn-in {
    right: 0;
}
.icon {
    color: white;
}