.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1D1D1D;
    z-index: 20;
}
.navbar-button-container {
    width: 33%;
    height: 100%;
    align-items: center; 
    margin-right: 5%; 
}
.navbar-header {
    height: 100%;
    margin-left: 5%;
    font-size: max(1.2em, 1.5vw);
    background-color: rgba(0,0,0,0);
    color: rgb(255, 139, 6);
    border: none;
    font-family: 'Rockwell', serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}
.nav-close-icon,
.nav-open-icon {
    color: white;
    transform: scale(2);
    position: absolute;

}
.no-display {
    opacity: 0;
    transition: opacity 500ms ease;
}
.hamburger-holder {
    border: none;
    background-color: rgba(0,0,0,0);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}
.burger-icon {
    color: white;
}
.burger-icon:hover {
    color: rgb(255, 139, 6);
}
.scrolled {
    -webkit-transform: translate3d(0,-200px,0);
    -moz-transform: translate3d(0,-200px,0);
    transform: translate3d(0,-200px,0);
}   
@media (min-width: 951px) and (max-width: 1300px) {
    .navbar-button-container {
        width: 50%;
    }
}
@media (max-width: 950px) {
    .navbar-button-container {
        justify-content: flex-end;
    }
    .navbar-button-container {
        justify-content: center;
    }
}
@media (max-width: 1000px) {
    .navbar-header {
        font-size: 1.2em;
    }
}