.bottom-outer-container {
    height: 10vh;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D1D1D;
    position: relative;
}
.bottom-inner-container {
    height: 100%;    
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo-button {
    height: 100%;
    font-size: max(1.2em, 1.5vw);
    background-color: rgba(0,0,0,0);
    color: rgb(255, 139, 6);
    font-family: 'Rockwell', serif;
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-tags-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.footer-policies {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.policy {
    color: rgb(226, 225, 225);
    font-size: 1em;
    background-color: rgba(0,0,0,0);
    border: none;
    -webkit-transition: color .3s;
    -moz-transition:    color .3s;
    -ms-transition:     color .3s;
    -o-transition:      color .3s;
    transition: color .3;   
}
.policy:hover {
    color: rgb(255, 139, 6);
}
.footer-befound {   
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(226, 225, 225);
}
.policy-component {
    padding-left: 5%;
    min-width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.policy-info {
    color: white;
    font-family: 'Raleway', serif;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.policy-close {
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    height: 50%;
    width: 20%;
    -webkit-transition: color .3s;
    -moz-transition:    color .3s;
    -ms-transition:     color .3s;
    -o-transition:      color .3s;
    transition: color .3;   
}
.policy-close:hover {
    color: rgb(255, 139, 6);
}
@media (min-width: 621px) and (max-width: 810px) {
    .footer-tags-container {
        width: 80%;
    }
    .policy-component {
        width: 80%;
    }
}
@media (min-width: 451px) and (max-width: 620px) {
    .footer-tags-container {
        width: 80%;
    }
    .policy-component {
        width: 80%;
    }
    .policy-info {
        font-size: 0.8em;
    }
    .footer-policies {
        font-size: 0.8em;
    }
    .footer-befound {
        font-size: 0.8em;
    }
}
@media (max-width: 450px) {
    .footer-logo-button {
        width: 90%;
        height: 40%;
        justify-content: center;
    }
    .footer-tags-container {
        flex-direction: column;
        justify-content: center;
        height: 60%;
        width: 100%;
    }
    .policy-component {
        width: 100%;
        height: 60%;
        flex-direction: column;
    }
    .bottom-outer-container {
        height: 20vh;
        min-height: 200px;
    }
    .bottom-inner-container {
        flex-direction: column;
    }
    .footer-policies {
        flex-direction: column;
        width: 100%;
        height: 30%;
    }
    .policy {
        height: 100%;
    }
    .footer-befound {
        width: 100%;
        height: 30%;
        justify-content: center;
    }
}

